<template>
	<v-container grid-list-lg v-if="$store.state.login && $store.state.login.tipo == 2">
		<titulo>AVA</titulo>
		<router-link to="/privado">
			<v-btn>
				<v-icon>mdi-backup-restore</v-icon> Voltar ao Painel
			</v-btn>
		</router-link>
		<v-layout row wrap>
			<v-flex v-for="(ava, i) in ava" :key="i" xs12 sm6 md4 lg3>
				<v-card>
					<v-card-text>
						<b>Título: </b> {{ava.nome}}
						<br />
						<v-tooltip bottom>
							<div slot="activator">
								<b>Link: </b><a :href="ava.link" target="_blank">{{ava.link | shortlink}} </a>
							</div>
							<span>{{ava.link}}</span>
						</v-tooltip>
					</v-card-text>
					<v-card-actions>
						<v-btn color="primary" @click.stop="openEditDialog(ava.id)">
							<v-icon>mdi-pencil</v-icon> Editar
						</v-btn>
						<v-btn color="error" @click.stop="openDeleteDialog(ava.id)">
							<v-icon>delete</v-icon> Remover
						</v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
			<v-btn color="primary" @click.stop="openAddDialog()" fixed fab bottom right dark>
				<v-icon>add</v-icon>
			</v-btn>
		</v-layout>

		<v-dialog v-model="addDialog" persistent>
			<v-card>
				<v-card-text>
					<v-form v-model="validAdd" ref="addForm">
						<v-text-field :rules="rulesTitulo" required label="Título" prepend-icon="mdi-format-title" v-model="toAdd.nome"></v-text-field>
						<v-text-field :rules="rulesLink" required label="Link" prepend-icon="mdi-link" v-model="toAdd.link"></v-text-field>
					</v-form>
					<v-alert color="error" icon="warning" :value="errorAdd">
						{{errorAdd}}
					</v-alert>
				</v-card-text>
				<v-card-actions>
					<v-btn color="primary" @click="add">
						<v-icon>mdi-content-save</v-icon> Salvar
					</v-btn>
					<v-btn color="error" @click.stop="addDialog = false; $refs.addForm.reset()">
						<v-icon>mdi-cancel</v-icon> Cancelar
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>

		<v-dialog v-model="deleteDialog" persistent>
			<v-card>
				<v-alert color="info" icon="help" value="true">Você tem certeza que deseja remover este AVA?</v-alert>
				<v-card-actions>
					<v-btn color="primary" @click="del">Sim</v-btn>
					<v-btn color="error" @click="deleteDialog = false">Não</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>

		<v-dialog v-model="editDialog" persistent>
			<v-card>
				<v-card-text>
					<v-form v-model="validEdit" ref="editForm">
						<v-text-field :rules="rulesTitulo" label="Título" prepend-icon="mdi-format-title" v-model="current.nome"></v-text-field>
						<v-text-field :rules="rulesLink" label="Link" prepend-icon="mdi-link" v-model="current.link"></v-text-field>
					</v-form>
					<v-alert color="error" icon="warning" :value="errorEdit">
						{{errorEdit}}
					</v-alert>
				</v-card-text>
				<v-card-actions>
					<v-btn color="primary" @click="edit">
						<v-icon>mdi-content-save</v-icon> Salvar
					</v-btn>
					<v-btn color="error" @click.stop="editDialog = false; $refs.editForm.reset()">
						<v-icon>mdi-cancel</v-icon> Cancelar
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<progresso :visivel="progresso"></progresso>
	</v-container>
	<v-container v-else>
		<v-alert color="error" icon="warning" value="true">
			Você não tem autorização para acessar esta página!
		</v-alert>
	</v-container>
</template>

<script>
import server from '../../server.js'
import regex from '../../regex.js'
export default {
	mounted() {
		this.progresso = true
		this.$axios.get(`${server}/avas`).then(res => {
			this.ava = res.data;
			this.progresso = false
		}).catch(() => {
			this.progresso = false
		})
	},
	data: () => ({
		errorEdit: false,
		errorAdd: false,
		validAdd: false,
		validEdit: false,
		ava: [],
		current: {},
		deleteDialog: false,
		editDialog: false,
		addDialog: false,
		toAdd: {},
		progresso: false,
		rulesTitulo: [
			(v) => !!v || 'Campo obrigatório!'
		],
		rulesLink: [
			(v) => regex.link.test(v) || 'Valor inválido!'
		]
	}),
	methods: {
		openDeleteDialog(id) {
			this.deleteDialog = true;
			this.current = Object.assign({}, this.ava.find(x => x.id == id));
		},
		openEditDialog(id) {
			this.editDialog = true;
			this.current = Object.assign({}, this.ava.find(x => x.id == id));
		},
		openAddDialog() {
			this.addDialog = true;
		},
		add() {
			if(this.$refs.addForm.validate()){
				this.progresso = true
				this.$axios
				.post(`${server}/avas/`, this.toAdd, {
					headers: {
						'x-access-token': this.$store.state.login.token
					}
				})
				.then(response => {
					this.ava.unshift(response.data[0].rows[0]);
					this.addDialog = false;
					this.toAdd = {}
					this.progresso = false
					this.errorAdd = false
					this.$refs.addForm.reset()
				}).catch(() => {
					this.errorAdd = 'Erro interno do servidor!'
					this.progresso = false
				})
			}
		},
		edit() {
			if(this.$refs.editForm.validate()){
				this.progresso = true
				this.current.ava = parseInt(this.current.ava);
				this.$axios
				.put(`${server}/avas/${this.current.id}`, this.current, {
					headers: {
						'x-access-token': this.$store.state.login.token
					}
				})
				.then(() => {
					this.ava = this.ava.map(x => {
						if (x.id == this.current.id) {
							x = this.current
						}
						return x
					})
					this.editDialog = false
					this.progresso = false
					this.errorEdit = false
				})
				.catch(() => {
					this.errorEdit = 'Erro interno do servidor!'
					this.progresso = false
				})
			}
		},
		del() {
			this.progresso = true
			this.$axios
			.delete(`${server}/avas/${this.current.id}`, {
				headers: {
					'x-access-token': this.$store.state.login.token
				}
			})
			.then(() => {
				this.ava = this.ava.filter(x => x.id != this.current.id)
				this.deleteDialog = false
				this.progresso = false
			})
			.catch(() => {
				this.progresso = false
			})
		}
	},
	filters: {
		shortlink(value) {
			return (value && value.length > 30) ? value.substr(0, 27) + "..." : value;
		}
	}
};
</script>
