<template>
	<v-container grid-list-lg v-if="$store.state.login && $store.state.login.tipo == 2">
		<titulo>Calendário Acadêmico</titulo>
		<router-link to="/privado">
			<v-btn>
				<v-icon>mdi-backup-restore</v-icon> Voltar ao Painel
			</v-btn>
		</router-link>
		<br>
		<br>
		<v-card>
			<v-card-text>
				<v-form ref="form">
					<input-file label="Arquivo PDF" @change="fileChange" accept=".pdf"></input-file>
				</v-form>
				<v-alert color="error" icon="warning" :value="error">
					{{error}}
				</v-alert>
			</v-card-text>
			<v-card-actions>
				<v-btn @click="salvar">Salvar</v-btn>
			</v-card-actions>
		</v-card>
		<v-snackbar v-model="success">
			Calendário atualizado com sucesso!
		</v-snackbar>
		<progresso :visivel="progresso"></progresso>
	</v-container>
	<v-container v-else>
		<v-alert color="error" icon="warning" value="true">
			Você não tem autorização para acessar esta página!
		</v-alert>
	</v-container>
</template>

<script>
import server from '../../server.js'
export default {
	data: () => ({
		error: false,
		success: false,
		progresso: false,
		arquivo: null,
		progresso: false
	}),
	methods: {
		fileChange(e){
			this.arquivo = e
		},
		salvar(){
			let data = new FormData()
			data.append('arquivo', this.arquivo)
			this.progresso = true
			this.$axios.put(`${server}/calendario/`, data, {
				headers: {
					'x-access-token': this.$store.state.login.token
				}
			}).then(() => {
				this.success = true
				this.progresso = false
				this.error = false
				this.$refs.form.reset()
			}).catch(err => {
				if(err.response.status == 415){
					this.error = 'Selecione um arquivo PDF!'
				}
				else {
					this.error = 'Erro interno do servidor!'
				}
				this.progresso = false
				this.$refs.form.reset()
			})
		}
	}
}
</script>
