<template>
	<v-container grid-list-lg v-if="$store.state.login && $store.state.login.tipo == 2">
		<titulo>Contatos</titulo>
		<router-link to="/privado">
			<v-btn>
				<v-icon>mdi-backup-restore</v-icon> Voltar ao Painel
			</v-btn>
		</router-link>
		<v-layout row wrap>
			<v-flex v-for="(contato, i) in contatos" :key="i" xs12 sm6 md4 lg3>
				<v-card>
					<v-card-text>
						<b>Setor: </b> {{contato.setor}}
						<br>
						<b>Telefone: </b> {{contato.telefone}}
					</v-card-text>
					<v-card-actions>
						<v-btn color="primary" @click.stop="openEditDialog(contato.id)">
							<v-icon>mdi-pencil</v-icon> Editar
						</v-btn>
						<v-btn color="error" @click.stop="openDeleteDialog(contato.id)">
							<v-icon>delete</v-icon> Remover
						</v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
			<v-btn color="primary" @click.stop="openAddDialog()" fixed fab bottom right dark>
				<v-icon>add</v-icon>
			</v-btn>
		</v-layout>

		<v-dialog v-model="addDialog" persistent>
			<v-card>
				<v-card-text>
					<v-form v-model="validAdd" ref="formAdd">
						<v-text-field required :rules="rulesSetor" label="Setor" prepend-icon="home" v-model="toAdd.setor"></v-text-field>
						<v-text-field required :rules="rulesTelefone" label="Telefone" prepend-icon="phone" v-model="toAdd.telefone"></v-text-field>
					</v-form>
					<v-alert color="error" icon="warning" :value="errorAdd">
						{{errorAdd}}
					</v-alert>
				</v-card-text>
				<v-card-actions>
					<v-btn color="primary" @click="add">
						<v-icon>mdi-content-save</v-icon> Salvar
					</v-btn>
					<v-btn color="error" @click.stop="addDialog = false; $refs.formAdd.reset()">
						<v-icon>mdi-cancel</v-icon> Cancelar
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>

		<v-dialog v-model="deleteDialog" persistent>
			<v-card>
				<v-alert color="info" icon="help" value="true">Você tem certeza que deseja remover este contato?</v-alert>
				<v-card-actions>
					<v-btn color="primary" @click="del">Sim</v-btn>
					<v-btn color="error" @click="deleteDialog = false">Não</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>

		<v-dialog v-model="editDialog" persistent>
			<v-card>
				<v-card-text>
					<v-form v-model="validEdit" ref="formEdit">
						<v-text-field required :rules="rulesSetor" label="Setor" prepend-icon="home" v-model="current.setor"></v-text-field>
						<v-text-field required :rules="rulesTelefone" label="Telefone" prepend-icon="phone" v-model="current.telefone"></v-text-field>
					</v-form>
					<v-alert color="error" icon="warning" :value="errorEdit">
						{{errorEdit}}
					</v-alert>
				</v-card-text>
				<v-card-actions>
					<v-btn color="primary" @click="edit">
						<v-icon>mdi-content-save</v-icon> Salvar
					</v-btn>
					<v-btn color="error" @click.stop="editDialog = false; $refs.formEdit.reset()">
						<v-icon>mdi-cancel</v-icon> Cancelar
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<progresso :visivel="progresso"></progresso>
	</v-container>
	<v-container v-else>
		<v-alert color="error" icon="warning" value="true">
			Você não tem autorização para acessar esta página!
		</v-alert>
	</v-container>
</template>

<script>
import server from '../../server.js'
import regex from '../../regex.js'
export default {
	mounted() {
		this.progresso = true
		this.$axios.get(`${server}/telefones`).then(res => {
			this.contatos = res.data;
			this.progresso = false
		}).catch(() => {
			this.progresso = false
		})
	},
	data: () => ({
		validAdd: false,
		validEdit: false,
		errorAdd: false,
		errorEdit: false,
		progresso: false,
		contatos: [],
		current: {},
		deleteDialog: false,
		editDialog: false,
		addDialog: false,
		toAdd: {},
		rulesSetor: [
			v => !!v || 'Campo obrigatório!'
		],
		rulesTelefone: [
			v => regex.telefone.test(v) || 'Valor inválido!'
		]
	}),
	methods: {
		openDeleteDialog(id) {
			this.deleteDialog = true;
			this.current = Object.assign({}, this.contatos.find(x => x.id == id));
		},
		openEditDialog(id) {
			this.editDialog = true;
			this.current = Object.assign({}, this.contatos.find(x => x.id == id));
		},
		openAddDialog() {
			this.addDialog = true;
		},
		add() {
			this.toAdd.campus = 2
			if(this.$refs.formAdd.validate()){
				this.progresso = true
				this.$axios
				.post(`${server}/telefones/`, this.toAdd, {
					headers: {
						'x-access-token': this.$store.state.login.token
					}
				})
				.then(response => {
					this.contatos.unshift(response.data[0].rows[0])
					this.addDialog = false
					this.progresso = false
					this.$refs.formAdd.reset()
					this.errorAdd = false
				})
				.catch(() => {
					this.errorAdd = 'Erro interno do servidor'
					this.progresso = false
				})
			}
		},
		edit() {
			this.current.campus = 2
			if(this.$refs.formEdit.validate()){
				this.progresso = true
				this.$axios
				.put(`${server}/telefones/${this.current.id}`, this.current, {
					headers: {
						'x-access-token': this.$store.state.login.token
					}
				})
				.then(response => {
					this.contatos = this.contatos.map(x => {
						if (x.id == this.current.id) {
							x = response.data[0].rows[0];
						}
						return x;
					});
					this.editDialog = false;
					this.progresso = false
					this.errorEdit = false

				})
				.catch(() => {
					this.errorEdit = false
					this.progresso = false
				})
			}
		},

		del() {
			this.progresso = true
			this.$axios
			.delete(`${server}/telefones/${this.current.id}`, {
				headers: {
					'x-access-token': this.$store.state.login.token
				}
			})
			.then(() => {
				this.contatos = this.contatos.filter(x => x.id != this.current.id);
				this.deleteDialog = false;
				this.progresso = false
			})
			.catch(() => {
				this.progresso = false
			})
		}
	},
	filters: {
		shortlink(value) {
			return value.length > 38 ? value.substr(0, 35) + "..." : value;
		}
	}
};
</script>
