<template>
	<v-container grid-list-lg v-if="$store.state.login && $store.state.login.tipo == 2">
		<titulo>Disciplinas</titulo>
		<router-link to="/privado">
			<v-btn>
				<v-icon>mdi-backup-restore</v-icon> Voltar ao Painel
			</v-btn>
		</router-link>
		<v-layout row wrap>
			<v-flex v-for="(disciplina, i) in disciplinas" :key="i" xs12 sm6 md4 lg3>
				<v-card>
					<v-card-text>
						<b>Disciplina: </b> {{disciplina.disc}}
						<br />
						<b>Código: </b> {{disciplina.cod}}
						<br />
						<b>Horas-Aula: </b> {{disciplina.ha}}
						<br />
						<b>Horas-Aula por Semana: </b> {{disciplina.has}}
						<br />
						<b>Carga Horária: </b> {{disciplina.chs}}
						<br />
						<b>Curso: </b> {{disciplina.curso == 1 ? 'Licenciatura' : (disciplina.curso == 2 ? 'Bacharel' : 'Optativa')}}
						<br />
						<b>Período: </b> {{disciplina.periodo}}º Semestre
						<br />
						<b>Pré-Requisitos: </b> {{disciplina.pr}}
					</v-card-text>
					<v-card-actions>
						<v-btn color="primary" @click.stop="openEditDialog(disciplina.id)">
							<v-icon>mdi-pencil</v-icon> Editar
						</v-btn>
						<v-btn color="error" @click.stop="openDeleteDialog(disciplina.id)">
							<v-icon>delete</v-icon> Remover
						</v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
			<v-btn color="primary" @click.stop="openAddDialog()" fixed fab bottom right dark>
				<v-icon>add</v-icon>
			</v-btn>
		</v-layout>

		<v-dialog v-model="addDialog" persistent>
			<v-card>
				<v-card-text>
					<v-form v-model="validAdd" ref="formAdd">
						<input-file label="Ementa" @change="fileChangeAdd"></input-file>
						<v-text-field required :rules="rulesDisc" label="Disciplina" prepend-icon="mdi-book" v-model="toAdd.disc"></v-text-field>
						<v-text-field required :rules="rulesCod" label="Código" prepend-icon="mdi-barcode" v-model="toAdd.cod"></v-text-field>
						<v-text-field type="number" min="0" required :rules="rulesHA" label="Horas-Aula" prepend-icon="mdi-clock" v-model="toAdd.ha"></v-text-field>
						<v-text-field type="number" min="0" required :rules="rulesHAS" label="Horas-Aula por Semana" prepend-icon="mdi-calendar-clock" v-model="toAdd.has"></v-text-field>
						<v-text-field type="number" min="0" required :rules="rulesCHS" label="Carga Horária" prepend-icon="mdi-clock-end" v-model="toAdd.chs"></v-text-field>
						<v-text-field label="Pré-Requisitos" prepend-icon="mdi-book-unsecure" v-model="toAdd.pr"></v-text-field>
						<v-select required :rules="rulesCurso" prepend-icon="mdi-domain" :items="cursos" v-model="toAdd.curso" label="Curso"></v-select>
						<v-text-field type="number" min="1" max="8" required :rules="rulesPeriodo" label="Período (semestre)" prepend-icon="mdi-calendar-question" v-model="toAdd.periodo"></v-text-field>
					</v-form>
					<v-alert color="error" icon="warning" :value="errorAdd">
						{{errorAdd}}
					</v-alert>
				</v-card-text>
				<v-card-actions>
					<v-btn color="primary" @click="add">
						<v-icon>mdi-content-save</v-icon> Salvar
					</v-btn>
					<v-btn color="error" @click.stop="addDialog = false; $refs.formAdd.reset()">
						<v-icon>mdi-cancel</v-icon> Cancelar
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>

		<v-dialog v-model="deleteDialog" persistent>
			<v-card>
				<v-alert color="info" icon="help" value="true">Você tem certeza que deseja remover esta disciplina?</v-alert>
				<v-card-actions>
					<v-btn color="primary" @click="del">Sim</v-btn>
					<v-btn color="error" @click="deleteDialog = false">Não</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>

		<v-dialog v-model="editDialog" persistent>
			<v-card>
				<v-card-text>
					<v-form v-model="validEdit" ref="formEdit">
						<input-file label="Ementa" @change="fileChangeEdit" accept="image/*"></input-file>
						<v-text-field required :rules="rulesDisc" label="Disciplina" prepend-icon="mdi-book" v-model="current.disc"></v-text-field>
						<v-text-field required :rules="rulesCod" label="Código" prepend-icon="mdi-barcode" v-model="current.cod"></v-text-field>
						<v-text-field type="number" min="0" equired :rules="rulesHA" label="Horas-Aula" prepend-icon="mdi-clock" v-model="current.ha"></v-text-field>
						<v-text-field type="number" min="0" required :rules="rulesHAS" label="Horas-Aula por Semana" prepend-icon="mdi-calendar-clock" v-model="current.has"></v-text-field>
						<v-text-field type="number" min="0" required :rules="rulesCHS" label="Carga Horária" prepend-icon="mdi-clock-end" v-model="current.chs"></v-text-field>
						<v-text-field label="Pré-Requisitos" prepend-icon="mdi-book-unsecure" v-model="current.pr"></v-text-field>
						<v-select required :rules="rulesCurso" prepend-icon="mdi-domain" :items="cursos" v-model="current.curso" label="Curso"></v-select>
						<v-text-field type="number" min="1" max="8" required :rules="rulesPeriodo" label="Período (semestre)" prepend-icon="mdi-calendar-question" v-model="current.periodo"></v-text-field>
					</v-form>
					<v-alert color="error" icon="warning" :value="errorEdit">
						{{errorEdit}}
					</v-alert>
				</v-card-text>
				<v-card-actions>
					<v-btn color="primary" @click="edit">
						<v-icon>mdi-content-save</v-icon> Salvar
					</v-btn>
					<v-btn color="error" @click.stop="editDialog = false; $refs.formEdit.reset()">
						<v-icon>mdi-cancel</v-icon> Cancelar
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<progresso :visivel="progresso"></progresso>
	</v-container>
	<v-container v-else>
		<v-alert color="error" icon="warning" value="true">
			Você não tem autorização para acessar esta página!
		</v-alert>
	</v-container>
</template>

<script>
import server from '../../server.js'
export default {
	mounted() {
		this.progresso = true
		this.$axios.get(`${server}/disciplinas`).then(res => {
			this.disciplinas = res.data;
			this.progresso = false
		}).catch(() => {
			this.progresso = false
		})
	},
	data: () => ({
		validAdd: false,
		validEdit: false,
		errorAdd: false,
		errorEdit: false,
		progresso: false,
		cursos: [
			{
				text: 'Licenciatura',
				value: 1
			},
			{
				text: 'Bacharel',
				value: 2
			},
			{
				text: 'Optativa',
				value: 3
			}
		],
		disciplinas: [],
		current: {},
		deleteDialog: false,
		editDialog: false,
		addDialog: false,
		toAdd: {},
		rulesDisc: [
			v => !!v || 'Campo obrigatório!'
		],
		rulesCod: [
			v => !!v || 'Campo obrigatório!'
		],
		rulesHA: [
			v => /^\d+$/.test(v) || 'Valor inválido!'
		],
		rulesHAS: [
			v => /^\d+$/.test(v) || 'Valor inválido!'
		],
		rulesCHS: [
			v => /^\d+$/.test(v) || 'Valor inválido!'
		],
		rulesCurso: [
			v => /^[1-3]$/.test(v) || 'Selecione um valor!'
		],
		rulesPeriodo: [
			v => /^[1-8]$/.test(v) || 'Valor inválido'
		]
	}),
	methods: {
		openDeleteDialog(id) {
			this.deleteDialog = true;
			this.current = Object.assign({}, this.disciplinas.find(x => x.id == id));
		},
		openEditDialog(id) {
			this.editDialog = true;
			this.current = Object.assign({}, this.disciplinas.find(x => x.id == id));
		},
		openAddDialog() {
			this.addDialog = true;
		},
		add() {
			if(this.$refs.formAdd.validate()){
				let data = new FormData()
				data.append('disc', this.toAdd.disc)
				data.append('cod', this.toAdd.cod)
				data.append('ha', this.toAdd.ha)
				data.append('has', this.toAdd.has)
				data.append('chs', this.toAdd.chs)
				data.append('curso', this.toAdd.curso)
				data.append('periodo', this.toAdd.periodo)
				data.append('ementa', this.toAdd.ementa)
				data.append('pr', this.toAdd.pr)
				this.progresso = true
				this.$axios.post(`${server}/disciplinas/`, data, {
					headers: {
						'x-access-token': this.$store.state.login.token
					}
				})
				.then(response => {
					this.disciplinas.unshift(response.data[0].rows[0]);
					this.addDialog = false;
					this.progresso = false
					this.errorAdd = false
					this.$refs.formAdd.reset()
				})
				.catch(err => {
					if(err.response.status == 415){
						this.errorAdd = 'A ementa deve ser uma imagem!'
					}
					else {
						this.errorAdd = 'Erro interno do servidor!'
					}
					this.progresso = false
				})
			}
		},
		edit() {
			if(this.$refs.formEdit.validate()){
				let data = new FormData()
				data.append('disc', this.current.disc)
				data.append('cod', this.current.cod)
				data.append('ha', this.current.ha)
				data.append('has', this.current.has)
				data.append('chs', this.current.chs)
				data.append('curso', this.current.curso)
				data.append('periodo', this.current.periodo)
				data.append('ementa', this.current.ementa)
				data.append('pr', this.current.pr)
				this.progresso = true
				this.$axios
				.put(`${server}/disciplinas/${this.current.id}`, data, {
					headers: {
						'x-access-token': this.$store.state.login.token
					}
				})
				.then(response => {
					this.disciplinas = this.disciplinas.map(x => {
						if (x.id == this.current.id) {
							x = response.data[0].rows[0]
						}
						return x;
					})
					this.editDialog = false;
					this.progresso = false
					this.errorEdit = false
				})
				.catch(err => {
					if(err.response.status == 415){
						this.errorEdit = 'A ementa deve ser uma imagem!'
					}
					else {
						this.errorEdit = 'Erro interno do servidor!'
					}
					this.progresso = false
				})
			}
		},
		del() {
			this.progresso = true
			this.$axios
			.delete(`${server}/disciplinas/${this.current.id}`, {
				headers: {
					'x-access-token': this.$store.state.login.token
				}
			})
			.then(() => {
				this.disciplinas = this.disciplinas.filter(x => x.id != this.current.id);
				this.deleteDialog = false;
				this.progresso = false
			})
			.catch(() => {
				this.progresso = false
			})
		},
		fileChangeAdd(e){
			this.toAdd.ementa = e
		},
		fileChangeEdit(e){
			this.current.ementa = e
		}
	}
};
</script>
