<template>
	<v-container grid-list-lg v-if="$store.state.login && $store.state.login.tipo == 2">
		<titulo>Documentos</titulo>
		<router-link to="/privado">
			<v-btn>
				<v-icon>mdi-backup-restore</v-icon> Voltar ao Painel
			</v-btn>
		</router-link>
		<v-layout row wrap>
			<v-flex v-for="(doc, i) in docs" :key="i" xs12 sm6 md4 lg3>
				<v-card>
					<v-card-media v-if="isImage(doc.arquivo)" :src="$store.state.server+'/'+doc.arquivo" height="200px"></v-card-media>
					<v-card-media v-else src="public/img/documentos/file.png" height="200px"></v-card-media>
					<v-card-title>
						<span class="headline">{{doc.titulo}}</span>
					</v-card-title>
					<v-card-actions>
						<v-btn color="primary" @click.stop="openEditDialog(doc.id)">
							<v-icon>mdi-pencil</v-icon> Editar
						</v-btn>
						<v-btn color="error" @click.stop="openDeleteDialog(doc.id)">
							<v-icon>delete</v-icon> Remover
						</v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
			<v-btn color="primary" @click.stop="openAddDialog()" fixed fab bottom right dark>
				<v-icon>add</v-icon>
			</v-btn>
		</v-layout>

		<v-dialog v-model="addDialog" persistent>
			<v-card>
				<v-card-text>
					<v-form v-model="validAdd" ref="formAdd">
						<v-text-field required :rules="rulesDesc" label="Descrição" prepend-icon="mdi-format-title" v-model="toAdd.titulo"></v-text-field>
						<input-file required label="Arquivo" @change="fileChangeAdd"></input-file>
					</v-form>
					<v-alert color="error" icon="warning" :value="errorAdd">
						{{errorAdd}}
					</v-alert>
				</v-card-text>
				<v-card-actions>
					<v-btn color="primary" @click="add">
						<v-icon>mdi-content-save</v-icon> Salvar
					</v-btn>
					<v-btn color="error" @click.stop="addDialog = false; $refs.formAdd.reset()">
						<v-icon>mdi-cancel</v-icon> Cancelar
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>

		<v-dialog v-model="deleteDialog" persistent>
			<v-card>
				<v-alert color="info" icon="help" value="true">Você tem certeza que deseja remover este estágio?</v-alert>
				<v-card-actions>
					<v-btn color="primary" @click="del">Sim</v-btn>
					<v-btn color="error" @click="deleteDialog = false">Não</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>

		<v-dialog v-model="editDialog" persistent>
			<v-card>
				<v-card-text>
					<v-form v-model="validEdit" ref="formEdit">
						<v-text-field required :rules="rulesDesc" label="Descrição" prepend-icon="mdi-format-title" v-model="current.titulo"></v-text-field>
						<input-file required label="Arquivo" @change="fileChangeEdit"></input-file>
					</v-form>
					<v-alert color="error" icon="warning" :value="errorEdit">
						{{errorEdit}}
					</v-alert>
				</v-card-text>
				<v-card-actions>
					<v-btn color="primary" @click="edit">
						<v-icon>mdi-content-save</v-icon> Salvar
					</v-btn>
					<v-btn color="error" @click.stop="editDialog = false; $refs.formEdit.reset()">
						<v-icon>mdi-cancel</v-icon> Cancelar
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<progresso :visivel="progresso"></progresso>
	</v-container>
	<v-container v-else>
		<v-alert color="error" icon="warning" value="true">
			Você não tem autorização para acessar esta página!
		</v-alert>
	</v-container>
</template>

<script>
import server from '../../server.js'
export default {
	mounted() {
		this.progresso = true
		this.$axios.get(`${server}/documentos`).then(res => {
			this.docs = res.data;
			this.progresso = false
		}).catch(() => {
			this.progresso = false
		})
	},
	data: () => ({
		errorAdd: false,
		errorEdit: false,
		validAdd: false,
		validEdit: false,
		progresso: false,
		docs: [],
		current: {},
		deleteDialog: false,
		editDialog: false,
		addDialog: false,
		toAdd: {},
		rulesDesc: [
			v => !!v || 'Campo obrigatório!'
		]
	}),
	methods: {
		openDeleteDialog(id) {
			this.deleteDialog = true;
			this.current = Object.assign({}, this.docs.find(x => x.id == id));
		},
		openEditDialog(id) {
			this.editDialog = true;
			this.current = Object.assign({}, this.docs.find(x => x.id == id));
		},
		openAddDialog() {
			this.addDialog = true;
		},
		add() {
			if(this.$refs.formAdd.validate()){
				let data = new FormData()
				data.append('titulo', this.toAdd.titulo)
				data.append('arquivo', this.toAdd.arquivo)
				this.progresso = true
				this.$axios
				.post(`${server}/documentos/`, data, {
					headers: {
						'x-access-token': this.$store.state.login.token
					}
				})
				.then(response => {
					this.docs.unshift(response.data[0].rows[0]);
					this.addDialog = false;
					this.progresso = false
					this.errorAdd = false
					this.$refs.formAdd.reset()
				})
				.catch(err => {
					if(err.response.status == 415){
						this.errorAdd = 'Arquivo obrigatório!'
					}
					else {
						this.errorAdd = 'Erro interno do servidor!'
					}
					this.progresso = false
				})
			}
		},
		edit() {
			if(this.$refs.formEdit.validate()){
				let data = new FormData()
				data.append('titulo', this.current.titulo)
				data.append('arquivo', this.current.arquivo)
				this.progresso = true
				this.$axios
				.put(`${server}/documentos/${this.current.id}`, data, {
					headers: {
						'x-access-token': this.$store.state.login.token
					}
				})
				.then(response => {
					this.docs = this.docs.map(x => {
						if (x.id == this.current.id) {
							x = response.data[0].rows[0];
						}
						return x;
					});
					this.editDialog = false;
					this.progresso = false
					this.errorEdit = false
				})
				.catch(err => {
					if(err.response.status == 415){
						this.errorEdit = 'Arquivo obrigatório!'
					}
					else {
						this.errorEdit = 'Erro interno do servidor!'
					}
					this.progresso = false
				})
			}
		},
		del() {
			this.progresso = true
			this.$axios
			.delete(`${server}/documentos/${this.current.id}`, {
				headers: {
					'x-access-token': this.$store.state.login.token
				}
			})
			.then(() => {
				this.docs = this.docs.filter(x => x.id != this.current.id);
				this.deleteDialog = false;
				this.progresso = false
			})
			.catch(() => {
				this.progresso = false
			})
		},
		fileChangeAdd(e){
			this.toAdd.arquivo = e
		},
		fileChangeEdit(e){
			this.current.arquivo = e
		},
		isImage(arquivo){
			return /^(png|jpg|jpeg|gif)$/i.test(/(?:\.([^.]+))?$/.exec(arquivo)[1])
		}
	}
};
</script>
