<template>
	<v-container grid-list-lg v-if="$store.state.login">
		<titulo>Estágios</titulo>
		<router-link to="/privado">
			<v-btn>
				<v-icon>mdi-backup-restore</v-icon> Voltar ao Painel
			</v-btn>
		</router-link>
		<v-layout row wrap>
			<v-flex v-for="(estagio, i) in estagios" :key="i" xs12 sm6 md4 lg3>
				<v-card>
					<v-card-title>
						<div class="headline">{{estagio.titulo}}</div>
					</v-card-title>
					<v-card-text class="texto" :style="{backgroundImage: 'url(public/img/estagios/job.png)'}">
						<b>Instituto:</b> {{estagio.instituto}}<br /><br />
						<b>Vagas:</b> {{estagio.vagas}}<br /><br />
						<b>Link:</b> {{estagio.link}}<br /><br />
						{{estagio.resumo}}
					</v-card-text>
					<v-card-actions>
						<v-btn color="primary" @click.stop="openEditDialog(estagio.id)"><v-icon>mdi-pencil</v-icon> Editar</v-btn>
						<v-btn color="error" @click.stop="openDeleteDialog(estagio.id)"><v-icon>delete</v-icon> Remover</v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
			<v-btn color="primary" @click.stop="openAddDialog()" fixed fab bottom right dark>
				<v-icon>add</v-icon>
			</v-btn>
		</v-layout>
		<br />

		<titulo>Sugestões</titulo>

		<v-layout row wrap>
			<v-flex v-for="(sugestao, i) in sugestoes" :key="i" xs12 sm6 md4 lg3>
				<v-card>
					<v-card-title>
						<div class="headline">{{sugestao.titulo}}</div>
					</v-card-title>
					<v-card-text>
						<b>Instituto:</b> {{sugestao.instituto}}<br /><br />
						<b>Vagas:</b> {{sugestao.vagas}}<br /><br />
						<b>Link:</b> {{sugestao.link}}<br /><br />
						{{sugestao.resumo}}
					</v-card-text>
					<v-card-actions>
						<v-btn color="primary" @click.stop="aceitar(sugestao.id)"><v-icon>mdi-thumb-up</v-icon> Aceitar</v-btn>
						<v-btn color="error" @click.stop="openDeleteDialog(sugestao.id)"><v-icon>delete</v-icon> Deletar</v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>

		<v-dialog v-model="addDialog" persistent>
			<v-card>
				<v-card-text>
					<v-form v-model="validAdd" ref="formAdd">
						<v-text-field required :rules="rulesTitulo" label="Título da vaga" prepend-icon="mdi-format-title" v-model="toAdd.titulo"></v-text-field>
						<v-text-field required :rules="rulesDesc" multi-line label="Descrição da vaga" prepend-icon="mdi-message-text" v-model="toAdd.resumo"></v-text-field>
						<v-text-field required :rules="rulesVagas" label="Vagas" type="number" prepend-icon="mdi-numeric" v-model="toAdd.vagas"></v-text-field>
						<v-text-field required :rules="rulesInstituto" label="Instituto" prepend-icon="mdi-domain" v-model="toAdd.instituto"></v-text-field>
						<v-text-field required :rules="rulesLink" label="Link" prepend-icon="mdi-link" v-model="toAdd.link"></v-text-field>
					</v-form>
					<v-alert color="error" icon="warning" :value="errorAdd">
						{{errorAdd}}
					</v-alert>
				</v-card-text>
				<v-card-actions>
					<v-btn color="primary" @click="add"><v-icon>mdi-content-save</v-icon> Salvar</v-btn>
					<v-btn color="error" @click.stop="addDialog = false; $refs.formAdd.reset()"><v-icon>mdi-cancel</v-icon> Cancelar</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>

		<v-dialog v-model="deleteDialog" persistent>
			<v-card>
				<v-alert color="info" icon="help" value="true">Você tem certeza que deseja remover este estágio?</v-alert>
				<v-card-actions>
					<v-btn color="primary" @click="del">Sim</v-btn>
					<v-btn color="error" @click="deleteDialog = false">Não</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>

		<v-dialog v-model="editDialog" persistent>
			<v-card>
				<v-card-text>
					<v-form v-model="validEdit" ref="formEdit">
						<v-text-field required :rules="rulesTitulo" label="Título da vaga" prepend-icon="mdi-format-title" v-model="current.titulo"></v-text-field>
						<v-text-field required :rules="rulesDesc" multi-line label="Descrição da vaga" prepend-icon="mdi-message-text" v-model="current.resumo"></v-text-field>
						<v-text-field required :rules="rulesVagas" label="vagas" prepend-icon="mdi-numeric" type="number" v-model="current.vagas"></v-text-field>
						<v-text-field required :rules="rulesInstituto" label="Instituto" prepend-icon="mdi-domain" v-model="current.instituto"></v-text-field>
						<v-text-field required :rules="rulesLink" label="Link" prepend-icon="mdi-link" v-model="current.link"></v-text-field>
					</v-form>
					<v-alert color="error" icon="warning" :value="errorEdit">
						{{errorEdit}}
					</v-alert>
				</v-card-text>
				<v-card-actions>
					<v-btn color="primary" @click="edit"><v-icon>mdi-content-save</v-icon> Salvar</v-btn>
					<v-btn color="error" @click.stop="editDialog = false; $refs.formEdit.reset()"><v-icon>mdi-cancel</v-icon> Cancelar</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<progresso :visivel="progresso"></progresso>
	</v-container>

	<v-container v-else-if="$store.state.login && $store.state.login.tipo == 1">
		<v-card>
			<v-card-title>
				<span class="headline">Sugerir estágio</span>
			</v-card-title>
			<v-card-text>
				<v-form v-model="validAdd" ref="formAdd">
					<v-text-field required :rules="rulesTitulo" label="Título da vaga" prepend-icon="mdi-format-title" v-model="toAdd.titulo"></v-text-field>
					<v-text-field required :rules="rulesDesc" multi-line label="Descrição da vaga" prepend-icon="mdi-message-text" v-model="toAdd.resumo"></v-text-field>
					<v-text-field required :rules="rulesVagas" label="Vagas" type="number" prepend-icon="mdi-numeric" v-model="toAdd.vagas"></v-text-field>
					<v-text-field required :rules="rulesInstituto" label="Instituto" prepend-icon="mdi-domain" v-model="toAdd.instituto"></v-text-field>
					<v-text-field required :rules="rulesLink" label="Link" prepend-icon="mdi-link" v-model="toAdd.link"></v-text-field>
				</v-form>
				<v-alert color="error" icon="warning" :value="errorAdd">
					{{errorAdd}}
				</v-alert>
			</v-card-text>
			<v-card-actions>
				<v-btn color="primary" @click="add">Sugerir</v-btn>
			</v-card-actions>
		</v-card>
		<v-snackbar v-model="success">
			Notícia sugerida! Aguarde a aprovação por um dos administradores.
		</v-snackbar>
		<progresso :visivel="progresso"></progresso>
	</v-container>

	<v-container v-else>
		<v-alert color="error" icon="warning" value="true">
			Você não tem autorização para acessar esta página!
		</v-alert>
	</v-container>
</template>

<style scoped>
.texto {
	background-size: 200px 200px;
	background-repeat: no-repeat;
	background-position: center;
}
</style>

<script>
import server from '../../server.js'
import regex from '../../regex.js'
export default {
	mounted() {
		this.progresso = true
		this.$axios.get(`${server}/estagios`).then(res => {
			this.estagios = res.data
			if(this.$store.state.login.tipo == 2){
				this.$axios.get(`${server}/estagios/sugestoes`, {
					headers: {
						'x-access-token': this.$store.state.login.token
					}
				}).then(res => {
					this.sugestoes = res.data || []
					this.progresso = false
				}).catch(() => {
					this.progresso = false
				})
			}
			else {
				this.progresso = false
			}
		}).catch(() => {
			this.progresso = false
		})
	},
	data: () => ({
		validAdd: false,
		validEdit: false,
		errorAdd: false,
		errorEdit: false,
		progresso: false,
		estagios: [],
		sugestoes: [],
		current: {},
		deleteDialog: false,
		editDialog: false,
		addDialog: false,
		toAdd:{},
		rulesTitulo: [
			v => !!v || 'Campo obrigatório!'
		],
		rulesDesc: [
			v => !!v || 'Campo obrigatório!'
		],
		rulesVagas: [
			v => /^\d+$/.test(v) || 'Valor inválido!'
		],
		rulesInstituto: [
			v => !!v || 'Campo obrigatório!'
		],
		rulesLink: [
			v => regex.link.test(v) || 'Valor inválido!'
		]
	}),
	methods: {
		openDeleteDialog(id){
			this.deleteDialog = true
			this.current = Object.assign({}, this.estagios.find(x => x.id == id))
		},
		openEditDialog(id){
			this.editDialog = true
			this.current = Object.assign({}, this.estagios.find(x => x.id == id))
		},
		openAddDialog(){
			this.addDialog = true
		},
		add(){
			if(this.$refs.formAdd.validate()){
				this.progresso = true
				this.$axios.post(`${server}/estagios/`,this.toAdd, {
					headers: {
						'x-access-token': this.$store.state.login.token
					}
				}).then((response)=>{
					if(this.$store.state.login.tipo == 1){
						this.success = true
					}
					else {
						this.estagios.unshift(response.data[0].rows[0])
						this.addDialog = false
					}
					this.progresso = false
					this.errorAdd = false
					this.$refs.formAdd.reset()
				})
				.catch(() => {
					this.progresso = false
					this.errorAdd = 'Erro interno do servidor'
				})
			}
		},
		edit(){
			if(this.$refs.formEdit.validate()){
				this.progresso = true
				this.current.vagas = parseInt(this.current.vagas)
				this.$axios.put(`${server}/estagios/${this.current.id}`, this.current, {
					headers: {
						'x-access-token': this.$store.state.login.token
					}
				}).then(()=>{
					this.estagios = this.estagios.map(x => {
						if(x.id == this.current.id){
							x = this.current
						}
						return x
					})
					this.editDialog = false
					this.progresso = false
					this.errorEdit = false
				})
				.catch(() => {
					this.progresso = false
					this.errorEdit = 'Erro interno do servidor'
				})
			}
		},
		del(){
			this.progresso = true
			this.$axios.delete(`${server}/estagios/${this.current.id}`, {
				headers: {
					'x-access-token': this.$store.state.login.token
				}
			}).then(() => {
				this.estagios = this.estagios.filter( x => x.id != this.current.id)
				this.sugestoes = this.sugestoes.filter( x => x.id != this.current.id)
				this.deleteDialog = false
				this.progresso = false
			})
			.catch(() => {
				this.progresso = false
			})
		},
		aceitar(id){
			this.progresso = true
			this.$axios.put(`${server}/estagios/aceitar/${id}`, {
				headers: {
					'x-access-token': this.$store.state.login.token
				}
			}).then(() => {
				this.sugestoes = this.sugestoes.filter( x => x.id != id)
				this.progresso = false
			})
			.catch(() => {
				this.progresso = false
			})
		}
	}
}
</script>
