<template>
	<v-container v-if="$store.state.login">
		<v-list>
			<v-list-tile v-for="(item, i) in menuItems" :key="i" ripple @click="$router.push(item.link)" v-if="item.admin ? ($store.state.login.tipo == 2 ? true : false) : true">
				<v-list-tile-avatar>
					<v-icon>{{item.icon}}</v-icon>
				</v-list-tile-avatar>
				<v-list-tile-content>
					<v-list-tile-title>{{item.title}}</v-list-tile-title>
				</v-list-tile-content>
			</v-list-tile>
			<v-list-tile ripple @click="$logoff" v-if="$store.state.login">
				<v-list-tile-avatar>
					<v-icon>mdi-logout-variant</v-icon>
				</v-list-tile-avatar>
				<v-list-tile-content>
					<v-list-tile-title>Sair</v-list-tile-title>
				</v-list-tile-content>
			</v-list-tile>
		</v-list>
	</v-container>
	<v-container v-else>
		<v-alert color="error" icon="warning" value="true">
			Você não tem autorização para acessar esta página!
		</v-alert>
	</v-container>
</template>

<script>
export default {
	data: () => ({
		menuItems: [
			{icon: 'new_releases', title: 'Notícias e eventos', link: '/privado/noticias', admin: false},
			{icon: 'work', title: 'Estágios', link: '/privado/estagios', admin: false},
			{icon: 'insert_drive_file', title: 'Documentos', link: '/privado/documentos', admin: true},
			{icon: 'class', title: 'Disciplinas', link: '/privado/disciplinas', admin: true},
			{icon: 'phone', title: 'Contatos', link: '/privado/contatos', admin: true},
			{icon: 'mdi-school', title: 'AVAs', link: '/privado/avas', admin: true},
			{icon: 'mail', title: 'Mensagens', link: '/privado/mensagens', admin: true},
			{icon: 'date_range', title: 'Calendário Acadêmico', link: '/privado/calendario', admin: true}
		]
	})
}
</script>
