<template>
	<v-container grid-list-lg v-if="$store.state.login && $store.state.login.tipo == 2">
		<titulo>Mensagens</titulo>
		<router-link to="/privado">
			<v-btn>
				<v-icon>mdi-backup-restore</v-icon> Voltar ao Painel
			</v-btn>
		</router-link>
		<v-layout row wrap>
			<v-flex v-for="(mensagem, i) in mensagens" :key="i" xs12 sm6 md4 lg3>
				<v-card>
					<v-card-text>
						<b>Nome: </b> {{mensagem.nome}}
						<br />
						<b>E-mail: </b> {{mensagem.email}}
						<br />
						<b>Assunto: </b> {{mensagem.titulo}}
						<br />
						<b>Mensagem: </b> {{mensagem.descricao}}
					</v-card-text>
					<v-card-actions>
						<v-btn color="primary" @click.stop="openRespostaDialog(mensagem.id)" :disabled="mensagem.respondida">
							<v-icon>mdi-pencil</v-icon> Responder
						</v-btn>
						<v-btn color="error" @click.stop="openDeleteDialog(mensagem.id)">
							<v-icon>delete</v-icon> Remover
						</v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>
		<v-dialog v-model="deleteDialog" persistent>
			<v-card>
				<v-alert color="info" icon="help" value="true">Você tem certeza que deseja remover esta mensagem?</v-alert>
				<v-card-actions>
					<v-btn color="primary" @click="del">Sim</v-btn>
					<v-btn color="error" @click="deleteDialog = false">Não</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<v-dialog v-model="respostaDialog" persistent>
			<v-card>
				<v-card-text>
					<v-form v-model="valid" ref="form">
						<v-text-field required :rules="rulesTexto" multi-line v-model="texto" prepend-icon="mdi-message-reply"></v-text-field>
					</v-form>
					<v-alert color="error" icon="warning" :value="error">
						{{error}}
					</v-alert>
				</v-card-text>
				<v-card-actions>
					<v-btn color="primary" @click="resposta"><v-icon>mdi-reply</v-icon>&nbsp;Responder</v-btn>
					<v-btn color="error" @click="respostaDialog = false; $refs.form.reset()"><v-icon>mdi-cancel</v-icon>&nbsp;Cancelar</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<progresso :visivel="progresso"></progresso>
	</v-container>
	<v-container v-else>
		<v-alert color="error" icon="warning" value="true">
			Você não tem autorização para acessar esta página!
		</v-alert>
	</v-container>
</template>

<script>
import server from '../../server.js'
export default {
	mounted() {
		this.progresso = true
		this.$axios.get(`${server}/mensagens`, {
			headers: {
				'x-access-token': this.$store.state.login.token
			}
		}).then(res => {
			this.mensagens = res.data;
			this.progresso = false
		}).catch(() => {
			this.progresso = false
		})
	},
	data: () => ({
		valid: false,
		error: false,
		progresso: false,
		mensagens: [],
		current: {},
		deleteDialog: false,
		respostaDialog: false,
		texto: '',
		rulesTexto: [
			v => !!v || 'Campo obrigatório!'
		]
	}),
	methods: {
		openDeleteDialog(id) {
			this.deleteDialog = true;
			this.current = Object.assign({}, this.mensagens.find(x => x.id == id));
		},
		del() {
			this.progresso = true
			this.$axios
			.delete(`${server}/mensagens/${this.current.id}`, {
				headers: {
					'x-access-token': this.$store.state.login.token
				}
			})
			.then(() => {
				this.mensagens = this.mensagens.filter(x => x.id != this.current.id);
				this.deleteDialog = false;
				this.progresso = false
			})
			.catch(() => {
				this.progresso = false
			})
		},
		openRespostaDialog(id) {
			this.respostaDialog = true;
			this.current = Object.assign({}, this.mensagens.find(x => x.id == id));
		},
		resposta(){
			if(this.$refs.form.validate()){
				this.progresso = true
				this.$axios
				.post(`${server}/mensagens/responder/${this.current.id}`, {resposta: this.texto}, {
					headers: {
						'x-access-token': this.$store.state.login.token
					}
				})
				.then(response => {
					this.mensagens = this.mensagens.map(x => {
						if(x.id == this.current.id){
							x.respondida = true
						}
						return x
					});
					this.respostaDialog = false;
					this.progresso = false
					this.$refs.form.reset()
					this.error = false
				}).catch(() => {
					this.progresso = false
					this.error = 'Erro interno do servidor'
				})
			}
		}
	}
};
</script>
