<template>
	<v-container grid-list-lg v-if="$store.state.login && $store.state.login.tipo == 2">
		<titulo>Notícias e Eventos</titulo>
		<router-link to="/privado">
			<v-btn>
				<v-icon>mdi-backup-restore</v-icon> Voltar ao Painel
			</v-btn>
		</router-link>
		<v-layout row wrap>
			<v-flex v-for="(noticia, i) in noticias" :key="i" xs12 sm6 md4 lg3>
				<v-card>
					<v-card-media :src="server+'/'+noticia.imagem" height="200px"></v-card-media>
					<v-card-title primary-title>
						<div class="headline">{{noticia.titulo}}</div>
					</v-card-title>
					<v-card-text>
						<b>Link:</b> {{noticia.link}}<br /><br />
						{{noticia.resumo}}
					</v-card-text>
					<v-card-actions>
						<v-btn color="primary" @click.stop="openEditDialog(noticia.id)"><v-icon>mdi-pencil</v-icon> Editar</v-btn>
						<v-btn color="error" @click.stop="openDeleteDialog(noticia.id)"><v-icon>delete</v-icon> Remover</v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
			<v-btn color="primary" fixed fab bottom right dark @click="openAddDialog">
				<v-icon>add</v-icon>
			</v-btn>
		</v-layout>
		<br>

		<titulo>Sugestões</titulo>

		<v-layout row wrap>
			<v-flex v-for="(sugestao, i) in sugestoes" :key="i" xs12 sm6 md4 lg3>
				<v-card>
					<v-card-media :src="$store.state.server+'/'+sugestao.imagem" height="200px"></v-card-media>
					<v-card-title primary-title>
						<div class="headline">{{sugestao.titulo}}</div>
					</v-card-title>
					<v-card-text>
						<b>Link:</b> {{sugestao.link}}<br /><br />
						{{sugestao.resumo}}
					</v-card-text>
					<v-card-actions>
						<v-btn color="primary" @click.stop="aceitar(sugestao.id)"><v-icon>mdi-pencil</v-icon> Editar</v-btn>
						<v-btn color="error" @click.stop="openDeleteDialog(sugestao.id)"><v-icon>delete</v-icon> Remover</v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>

		<v-dialog v-model="deleteDialog" persistent>
			<v-card>
				<v-alert color="info" icon="help" value="true">Você tem certeza que deseja remover esta notícia?</v-alert>
				<v-card-actions>
					<v-btn color="primary" @click="remove">Sim</v-btn>
					<v-btn color="error" @click="deleteDialog = false">Não</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<v-dialog v-model="editDialog" persistent>
			<v-card>
				<v-card-text>
					<v-form v-model="validEdit" ref="formEdit">
						<input-file label="Imagem" @change="fileChangeEdit"></input-file>
						<v-text-field required :rules="rulesTitulo" label="Título" prepend-icon="mdi-format-title" v-model="editObj.titulo"></v-text-field>
						<v-text-field required :rules="rulesDesc" multi-line label="Descrição" prepend-icon="mdi-message-text" v-model="editObj.resumo"></v-text-field>
						<v-text-field required :rules="rulesLink" label="Link" prepend-icon="mdi-link" v-model="editObj.link"></v-text-field>
					</v-form>
					<v-alert color="error" icon="warning" :value="errorEdit">
						{{errorEdit}}
					</v-alert>
				</v-card-text>
				<v-card-actions>
					<v-btn color="primary" @click="edit"><v-icon>mdi-content-save</v-icon> Salvar</v-btn>
					<v-btn color="error" @click="editDialog = false; $refs.formEdit.reset()"><v-icon>mdi-cancel</v-icon> Cancelar</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<v-dialog v-model="addDialog" persistent>
			<v-card>
				<v-card-text>
					<v-form v-model="validAdd" ref="formAdd">
						<input-file required label="Imagem" @change="fileChangeAdd"></input-file>
						<v-text-field required :rules="rulesTitulo" label="Título" prepend-icon="mdi-format-title" v-model="addObj.titulo"></v-text-field>
						<v-text-field required :rules="rulesDesc" multi-line label="Descrição" prepend-icon="mdi-message-text" v-model="addObj.resumo"></v-text-field>
						<v-text-field required :rules="rulesLink" label="Link" prepend-icon="mdi-link" v-model="addObj.link"></v-text-field>
					</v-form>
					<v-alert color="error" icon="warning" :value="errorAdd">
						{{errorAdd}}
					</v-alert>
				</v-card-text>
				<v-card-actions>
					<v-btn color="primary" @click="add"><v-icon>mdi-content-save</v-icon> Salvar</v-btn>
					<v-btn color="error" @click="addDialog = false; $refs.formAdd.reset()"><v-icon>mdi-cancel</v-icon> Cancelar</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</v-container>
	<v-container v-else-if="$store.state.login && $store.state.login.tipo == 1">
		<v-card>
			<v-card-title>
				<span class="headline">Sugerir notícia</span>
			</v-card-title>
			<v-card-text>
				<v-form v-model="validAdd" ref="formAdd">
					<input-file required label="Imagem" @change="fileChangeAdd"></input-file>
					<v-text-field required :rules="rulesTitulo" label="Título" prepend-icon="mdi-format-title" v-model="addObj.titulo"></v-text-field>
					<v-text-field required :rules="rulesDesc" label="Descrição" prepend-icon="mdi-message-text" v-model="addObj.resumo"></v-text-field>
					<v-text-field required :rules="rulesLink" label="Link" prepend-icon="mdi-link" v-model="addObj.link"></v-text-field>
				</v-form>
				<v-alert color="error" icon="warning" :value="errorAdd">
					{{errorAdd}}
				</v-alert>
			</v-card-text>
			<v-card-actions>
				<v-btn color="primary" @click="add">Sugerir</v-btn>
			</v-card-actions>
		</v-card>
		<v-snackbar v-model="success">
			Notícia sugerida! Aguarde a aprovação por um dos administradores.
		</v-snackbar>
		<progresso :visivel="progresso"></progresso>
	</v-container>
	<v-container v-else>
		<v-alert color="error" icon="warning" value="true">
			Você não tem autorização para acessar esta página!
		</v-alert>
	</v-container>
</template>

<script>
import server from '../../server.js'
import regex from '../../regex.js'
export default {
	mounted() {
		this.progresso = true
		this.$axios.get(`${server}/noticias`).then(res => {
			this.noticias = res.data
			if(this.$store.state.login.tipo == 2){
				this.$axios.get(`${server}/noticias/sugestoes`, {
					headers: {
						'x-access-token': this.$store.state.login.token
					}
				}).then(res => {
					this.sugestoes = res.data
					this.progresso = false
				}).catch(() => {
					this.progresso = false
				})
			}
			else {
				this.progresso = false
			}
		}).catch(() => {
			this.progresso = false
		})
	},
	data: () => ({
		server,
		progresso: false,
		sugestoes: [],
		success: false,
		noticias: [],
		deleteDialog: false,
		editDialog: false,
		addDialog: false,
		addObj: {},
		editObj: {},
		selected: null,
		errorAdd: false,
		errorEdit: false,
		errorSug: false,
		validAdd: false,
		validEdit: false,
		validSug: false,
		rulesTitulo: [
			v => !!v || 'Campo obrigatório!'
		],
		rulesDesc: [
			v => !!v || 'Campo obrigatório!'
		],
		rulesLink: [
			v => regex.link.test(v) || 'Valor inválido!'
		]
	}),
	methods: {
		remove(){
			this.progresso = true
			this.$axios.delete(`${server}/noticias/${this.selected}`, {
				headers: {
					'x-access-token': this.$store.state.login.token
				}
			}).then(() => {
				this.noticias = this.noticias.filter(x => x.id != this.selected)
				this.sugestoes = this.sugestoes.filter( x => x.id != this.selected)
				this.deleteDialog = false
				this.progresso = false
			}).catch(() => {
				this.progresso = false
			})
		},
		add(){
			if(this.$refs.formAdd.validate()){
				let data = new FormData()
				data.append('titulo', this.addObj.titulo)
				data.append('link', this.addObj.link)
				data.append('resumo', this.addObj.resumo)
				data.append('imagem', this.addObj.imagem)

				this.progresso = true
				this.$axios
				.post(`${server}/noticias/`, data, {
					headers: {
						'x-access-token': this.$store.state.login.token
					}
				})
				.then(response => {
					if(this.$store.state.login.tipo == 1){
						this.success = true
					}
					else {
						this.noticias.unshift(response.data[0].rows[0]);
						this.addDialog = false;
					}
					this.$refs.formAdd.reset()
					this.errorAdd = false
					this.progresso = false
				})
				.catch(err => {
					if(err.response.status == 415){
						this.errorAdd = 'Insira uma imagem válida!'
					}
					else {
						this.errorAdd = 'Erro interno do sistema!'
					}
					this.progresso = false
				})
			}
		},
		edit(){
			if(this.$refs.formEdit.validate()){
				let data = new FormData()
				data.append('titulo', this.editObj.titulo)
				data.append('link', this.editObj.link)
				data.append('resumo', this.editObj.resumo)
				data.append('imagem', this.editObj.imagem)

				this.progresso = true
				this.$axios
				.put(`${server}/noticias/${this.selected}`, data, {
					headers: {
						'x-access-token': this.$store.state.login.token
					}
				})
				.then(response => {
					this.noticias = this.noticias.map(x => {
						if(x.id == this.selected){
							x = response.data[0].rows[0]
						}
						return x
					})
					this.editDialog = false;
					this.progresso = false
					this.errorEdit = false
				})
				.catch(err => {
					if(err.response.status == 415){
						this.errorEdit = 'Insira uma imagem válida!'
					}
					else {
						this.errorEdit = 'Erro interno do sistema!'
					}
					this.progresso = false
				})
			}
		},
		openDeleteDialog(id){
			this.deleteDialog = true,
			this.selected = id
		},
		openEditDialog(id){
			this.editDialog = true,
			this.editObj = Object.assign({}, this.noticias.find(x => x.id == id))
			this.selected = id
		},
		openAddDialog(){
			this.addDialog = true
		},
		fileChangeAdd(e){
			this.addObj.imagem = e
		},
		fileChangeEdit(e){
			this.editObj.imagem = e
		},
		aceitar(id){
			this.progresso = true
			this.$axios.put(`${server}/noticias/aceitar/${id}`, {
				headers: {
					'x-access-token': this.$store.state.login.token
				}
			}).then(() => {
				this.sugestoes = this.sugestoes.filter( x => x.id != id)
				this.progresso = false
			}).catch(() => {
				this.progresso = false
			})
		}
	}
}
</script>
