<template>
	<v-container fluid>

		<titulo>Assistência estudantil</titulo>

		<img src="public/img/assistencia/assistenciaestudantil.png" id="banner">
		<br><br>
		<b>O que é?</b><br>É uma política que tem como objetivo criar condições que visam à permanência e o
		sucesso do estudante em sua jornada escolar por meio de programas, projetos e a concessão de
		auxílios financeiros aos estudantes em vulnerabilidade socioeconômica.
		<br><br>
		<b>A quem se destina?</b><br>A todos os estudantes regularmente matriculados nos diversos cursos presenciais
		de Formação Inicial e Continuada, do Ensino Técnico e de Graduação e pós-graduação do IFB.
		<br><br>
		<b>Quais são os Programas?</b><br>
		a) Programa de Auxílio-Permanência;<br>
		b) Programa de Saúde e Apoio psicológico e social ao Estudante;<br>
		c) Programa de Moradia;<br>
		d) Programa de Apoio Pedagógico e Suporte ao Ensino;<br>
		e) Programa de Incentivo a Atividades Culturais e Lazer;<br>
		f) Programa Bolsa de Monitoria;<br>
		g) Programa de Desenvolvimento Tecnológico e Científico.<br>
		<br><br>
		<b>Atendimento presencial</b><br>Procure a Coordenação de Assistência Estudantil e/ou o setor de Serviço Social do seu Campus.
		<br><br>
		<b>Horário de atendimento</b><br>
		Matutino - 08:00 às 14:00<br>
		Vespertino - 12:00 às 18:00<br>
		Noturno - 15:00 às 21:00
		<br><br>
		<b>Telefone para contato</b><br>(61) 2103-2217
		<br><br>
		<a href="http://www.ifb.edu.br/portal-do-aluno/assistencia-estudantil" target="_blank">
			<v-btn color="primary">Mais informações</v-btn>
		</a>

	</v-container>
</template>

<style scoped>
#banner {
	max-width: 100%;
	max-height: 300px;
}
</style>
