<template>
	<v-container grid-list-lg fluid>
		<v-layout row wrap>
			<v-flex xs12>
				<titulo>AVAs</titulo>
			</v-flex>
			<blockquote>
				<p>AVA são as iniciais de Ambiente Virtual de Aprendizagem.</p>
				<p>Por definição, um AVA é um sistema (ou software) que proporciona o desenvolvimento e distribuição de conteúdos diversos para cursos online e disciplinas semipresenciais para alunos em geral.</p>
				<p>Aqui será disponibilizado o acesso à alguns conteúdos onlines do IFB: </p>
				<br>
				<p v-for="(ava, i) in avas" :key="i">
					<a :href="ava.link" target="_blank"><i class="mdi mdi-link"></i> {{ava.nome}}</a>
				</p>
			</blockquote>
		</v-layout>
		<progresso :visivel="progresso"></progresso>
	</v-container>
</template>

<script>
	import server from '../server.js'
	export default {
		mounted(){
			this.progresso = true
			this.$axios.get(`${server}/avas`).then(response => {
				this.avas = response.data
				this.progresso = false
			}).catch(() => {
				this.progresso = false
			})
		},
		data: () => ({
			avas: [],
			progresso: false,
		})
	}
</script>
