<template>
	<v-container fluid grid-list-lg>
		<v-layout row wrap>
			<v-flex xs12>
				<titulo>Biblioteca</titulo>
			</v-flex>
			<v-flex xs12 md6>
				<p>O Sistema de Bibliotecas do Instituto Federal de Brasília (SIBIFB) funciona como centro de informação e referência, comprometido com a ação educativa necessária ao desenvolvimento dos programas de ensino, pesquisa e extensão do Instituto Federal de Brasília (IFB). O SIBIFB caracteriza-se por ser alicerçado no conhecimento da necessidade de avançar, permanentemente, na qualidade da prestação de serviços de apoio acadêmico para seus usuários, adotando as novas Tecnologias de Informação e de Comunicação.</p>
				<p>
					<a href="http://siabi.ifb.edu.br/" target="_blank">Acesso ao SIABI</a>
				</p>
				<p>
					<a href="tel://6121032226"><v-icon>phone</v-icon> (61) 2103-2226</a>
				</p>
			</v-flex>
			<v-flex xs12 md6>
				<v-carousel>
					<v-carousel-item v-for="(item,i) in items" v-bind:src="item.src" :key="i"></v-carousel-item>
				</v-carousel>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
export default {
	data () {
		return {
			items: [
				{
					src: 'public/img/biblioteca/1.jpg'
				},
				{
					src: 'public/img/biblioteca/2.jpg'
				},
				{
					src: 'public/img/biblioteca/3.jpg'
				},
			]
		}
	}
}
</script>
