<template>
	<v-container grid-list-lg fluid>
		<v-layout row wrap>
			<v-flex xs12>
				<titulo>Contatos do IFB - Taguatinga</titulo>
			</v-flex>
			<v-flex sx12>
				<blockquote>
					<p>Aqui você encontra a lista completa de contatos do IFB Campus Taguatinta, Campus Brasília (Reitoria) e demais Campus.</p>
					<p>
						Para encontrar o telefonte útil do Campus clique no botão do Campus ou, se desejar, mande uma
						<a href="#mensagem">mensagem</a> para a
						<b>
							<a href="#">Central de Atendimento ao Aluno do Campus Taguatinga.</a>
						</b>
					</p>
				</blockquote>
			</v-flex>
			<v-flex sx12>
				<v-data-table :headers="headers" :items="telefones.taguatinga" hide-actions>
					<template slot="items" slot-scope="props">
						<td>{{props.item.setor}}</td>
						<td><a :href="'tel:'+props.item.telefone">{{props.item.telefone}}</a></td>
					</template>
				</v-data-table>
			</v-flex>
		</v-layout>
		<progresso :visivel="progresso"></progresso>
	</v-container>
</template>

<script>
import server from '../server.js'
export default {
	mounted(){
		this.progresso = true
		this.$axios.get(`${server}/telefones`).then(response => {
			this.telefones.brasilia = response.data.filter(x => x.campus == 1)
			this.telefones.taguatinga = response.data.filter(x => x.campus == 2)
			this.progresso = false
		}).catch(() => {
			this.progresso = false
		})
	},
	data: () => ({
		progresso: false,
		headers: [
			{
				text: 'Setor',
				value: 'setor',
				align: 'left',
				sortable: false
			},
			{
				text: 'Telefone',
				value: 'telefone',
				align: 'left',
				sortable: false
			}
		],
		telefones: {
			brasilia: [],
			taguatinga: []
		}
	})
}
</script>
