<template>
	<v-container>
		<v-layout row wrap>
			<v-flex xs12>
				<v-expansion-panel>
					<v-expansion-panel-content>
						<div slot="header">Licenciatura em Computação</div>
						<v-expansion-panel>
							<v-expansion-panel-content v-for="i in 8" :key="i">
								<div slot="header">{{i}}º Semestre</div>
								<v-data-table :headers="headers" :items="disciplinas.licenciatura[i]" item-key="cod" hide-actions>
									<template slot="items" slot-scope="props">
										<tr @click="props.expanded = !props.expanded">
											<td>{{ props.item.disc }}</td>
											<td>{{ props.item.cod }}</td>
											<td>{{ props.item.ha }}</td>
											<td>{{ props.item.has }}</td>
											<td>{{ props.item.chs }}</td>
											<td>{{ props.item.pr }}</td>
										</tr>
									</template>
									<template slot="expand" slot-scope="props">
										<v-card>
											<v-card-text>
												<img :src="$store.state.server+'/'+props.item.ementa" class="ementa-img">
											</v-card-text>
										</v-card>
									</template>
								</v-data-table>
							</v-expansion-panel-content>
						</v-expansion-panel>
					</v-expansion-panel-content>
					<v-expansion-panel-content>
						<div slot="header">Bacharel em Ciência da Computação</div>
						<v-expansion-panel>
							<v-expansion-panel-content v-for="i in 8" :key="i">
								<div slot="header">{{i}}º Semestre</div>
								<v-data-table :headers="headers" :items="disciplinas.bacharel[i]" item-key="cod" hide-actions>
									<template slot="items" slot-scope="props">
										<tr @click="props.expanded = !props.expanded">
											<td>{{ props.item.disc }}</td>
											<td>{{ props.item.cod }}</td>
											<td>{{ props.item.ha }}</td>
											<td>{{ props.item.has }}</td>
											<td>{{ props.item.chs }}</td>
											<td>{{ props.item.pr }}</td>
										</tr>
									</template>
									<template slot="expand" slot-scope="props">
										<v-card>
											<v-card-text>
												<img :src="$store.state.server+'/'+props.item.ementa" class="ementa-img">
											</v-card-text>
										</v-card>
									</template>
								</v-data-table>
							</v-expansion-panel-content>
						</v-expansion-panel>
					</v-expansion-panel-content>
					<v-expansion-panel-content>
						<div slot="header">Componentes Curriculares Optativas</div>
						<v-data-table :headers="headers" :items="disciplinas.optativas" item-key="cod" hide-actions>
							<template slot="items" slot-scope="props">
								<tr @click="props.expanded = !props.expanded">
									<td>{{ props.item.disc }}</td>
									<td>{{ props.item.cod }}</td>
									<td>{{ props.item.ha }}</td>
									<td>{{ props.item.has }}</td>
									<td>{{ props.item.chs }}</td>
									<td>{{ props.item.pr }}</td>
								</tr>
							</template>
							<template slot="expand" slot-scope="props">
								<v-card>
									<v-card-text>
										<img :src="$store.state.server+'/'+props.item.ementa" class="ementa-img">
									</v-card-text>
								</v-card>
							</template>
						</v-data-table>
					</v-expansion-panel-content>
				</v-expansion-panel>
				<br>
				<v-card>
        			<v-card-media src="public/img/khan.png" height="400px">
        			</v-card-media>
        			<v-card-title primary-title>
          			<div>
            			<h3>Dificuldades em Algebra ou Cálculo?</h3>
            			<div><h4>Conheça a Khan Academy</h4>
						<br>A Khan Academy oferece exercícios, vídeos de instrução e um painel de aprendizado personalizado que habilita os estudantes a aprender no seu próprio ritmo dentro e fora da sala de aula.
						<br>Abordamos matemática, ciência, programação de computadores, história, história da arte, economia e muito mais.
						<br>Nossas missões de matemática guiam os estudantes do jardim de infância até o cálculo, usando tecnologias adaptativas de ponta que identificam os pontos fortes e lacunas no aprendizado.
						<br>Também temos parcerias com instituições como a NASA, o Museu de Arte Moderna, a Academia de Ciências da Califórnia e o MIT para oferecer conteúdo especializado.</div>
          			</div>
        			</v-card-title>
        			<v-card-actions>
						<a href="https://pt.khanacademy.org/" target="t_blank" style="text-decoration: none">
							<v-btn color="primary">Ir ao Site</v-btn>
						</a>
        			</v-card-actions>
      			</v-card>
			</v-flex>
		</v-layout>
		<progresso :visivel="progresso"></progresso>
	</v-container>
</template>

<script>
import server from '../server.js'
export default {
	mounted(){[]
		this.progresso = true
		this.$axios.get(`${server}/disciplinas`).then(response => {
			for(let i = 1; i <= 8; i++){
				this.disciplinas.licenciatura[i] = response.data.filter(x => x.curso == 1 && x.periodo == i)
				this.disciplinas.bacharel[i] = response.data.filter(x => x.curso == 2 && x.periodo == i)
			}
			this.disciplinas.optativas = response.data.filter(x => x.curso == 3)
			this.progresso = false
		}).catch(() => {
			this.progresso = false
		})
	},
	data: () => ({
		progresso: false,
		headers: [
			{ text: "Disciplina", value: "disc", align: "CENTER", sortable: false },
			{ text: "Código", value: "cod", align: "CENTER", sortable: false },
			{ text: "Horas-Aula", value: "ha", align: "CENTER", sortable: false },
			{
				text: "Horas-Aula Semanal",
				value: "has",
				align: "CENTER",
				sortable: false
			},
			{
				text: "Carga Horária Semestral",
				value: "chs",
				align: "CENTER",
				sortable: false
			},
			{ text: "Pré-Requisitos", value: "pr", align: "CENTER", sortable: false }
		],
		disciplinas: {
			licenciatura: {
				1: [], 2: [], 3: [], 4: [], 5: [], 6: [], 7: [], 8: []
			},
			bacharel: {
				1: [], 2: [], 3: [], 4: [], 5: [], 6: [], 7: [], 8: []
			},
			optativas: []
		}
	})
};
</script>

<style slot-scoped>
tr {
	cursor: pointer;
}
.ementa-img {
	max-width: 100%;
}
</style>
