<template>
	<v-container grid-list-lg fluid>
		<v-layout row wrap>
			<v-flex xs12>
				<titulo>Documentos</titulo>
			</v-flex>
			<v-layout row wrap>
				<v-flex v-for="(doc, i) in docs" :key="i" xs12 sm6 md4 lg3>
					<v-card>
						<v-card-media v-if="isImage(doc.arquivo)" :src="$store.state.server+'/'+doc.arquivo" height="200px"></v-card-media>
						<v-card-media v-else src="public/img/documentos/file.png" height="200px"></v-card-media>
						<v-card-title>
							<span class="headline">{{doc.titulo}}</span>
						</v-card-title>
						<v-card-actions>
							<v-btn color="primary" @click="download(doc.arquivo)">
								<v-icon>mdi-cloud-download</v-icon>&nbsp;Download
							</v-btn>
						</v-card-actions>
					</v-card>
				</v-flex>
			</v-layout>
		</v-layout>
		<progresso :visivel="progresso"></progresso>
	</v-container>
</template>

<script>
	import server from '../server.js'
	export default {
		mounted(){
			this.progresso = true
			this.$axios.get(`${server}/documentos`).then(response => {
				this.docs = response.data
				this.progresso = false
			}).catch(() => {
				this.progresso = false
			})
		},
		data: () => ({
			docs: [],
			progresso: false
		}),
		methods: {
			download(file){
				window.open(server+'/'+file, '_black')
			},
			isImage(arquivo){
				return /^(png|jpg|jpeg|gif)$/i.test(/(?:\.([^.]+))?$/.exec(arquivo)[1])
			}
		}
	}
</script>
