<template>
	<v-container fluid grid-list-lg>
		<titulo>Estágios</titulo>
		<v-layout row wrap>
			<v-flex xs12 sm4 v-for="(estagio, i) in estagios" :key="i">
				<v-card>
					<v-card-title>
						<div class="headline">{{estagio.titulo}}</div>
					</v-card-title>
					<v-card-text class="texto" :style="{backgroundImage: 'url(public/img/estagios/job.png)'}">
						<b>Instituto:</b> {{estagio.instituto}}<br /><br />
						<b>Vagas:</b> {{estagio.vagas}}<br /><br>
						<p class="data">Postado em {{ estagio.data | date }}</p>
						{{estagio.resumo}}
					</v-card-text>
					<v-card-actions>
						<a :href="estagio.link" target="_blank">
							<v-btn color="primary"><v-icon>mdi-details</v-icon>&nbsp;detalhes</v-btn>
						</a>
					</v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>
		<progresso :visivel="progresso"></progresso>
	</v-container>
</template>

<style scoped>
	.data {
		color: #aaa;
	}
	.texto {
		background-size: 200px 200px;
		background-repeat: no-repeat;
		background-position: center;
	}
</style>

<script>
import server from '../server.js'
export default {
	mounted(){
		this.progresso = true
		this.$axios.get(`${server}/estagios`).then(response => {
			this.estagios = response.data
			this.progresso = false
		}).catch(() => {
			this.progresso = false
		})
	},
	data: () => ({
		progresso: false,
		estagios: []
	}),
	filters: {
		date(value){
			let d = new Date(value)
			return `${d.getDate()}/${d.getMonth() + 1}/${d.getFullYear()}`
		}
	}
}
</script>
