<template>
	<v-container fluid grid-list-lg>
		<v-layout row wrap>
			<v-flex xs12 md6 class="text-xs-center">
				<h5>Bem Vindo ao Portal da Computação</h5>
				<p>
					Instituto Federal de Brasília.<br>
					Campus Taguatinga
				</p>
				<img src="public/img/ifb.png" height="300">
			</v-flex>
			<v-flex xs12 md6>
				<v-carousel>
					<v-carousel-item v-for="(item, i) in items" :src="item.src" :key="i"></v-carousel-item>
				</v-carousel>
			</v-flex>
			<v-flex xs12>
				<titulo>Destaques</titulo>
			</v-flex>
			<v-flex v-for="(destaque, i) in destaques" :key="i" xs12 sm6 md3>
				<noticia :content="destaque"></noticia>
			</v-flex>
		</v-layout>
		<progresso :visivel="progresso"></progresso>
	</v-container>
</template>

<script>
import server from '../server.js'
export default {
	mounted(){
		this.progresso = true
		this.$axios.get(`${server}/noticias/destaques`).then(response => {
			this.destaques = response.data
			this.progresso = false
		}).catch(() => {
			this.progresso = false
		})
	},
	data: () => ({
		progresso: false,
		destaques: [],
		items: [
			{
				src: 'public/img/campus/iftaguatinga.png'
			}
		]
	})
}
</script>
