<template>
	<v-container grid-list-lg fluid>
		<v-layout row wrap>
			<v-flex xs12 md6 class="text-xs-center">
				<h5>Tire sua dúvida agora!</h5>
				<p>
					Nos envie uma mensagem através do formulário ao lado.<br>
					Entraremos em contato!
				</p>
				<img src="public/img/mensagens/mail.png" height="300">
			</v-flex>
			<v-flex xs12 md6 id="mensagem">
				<v-card>
					<v-card-text>
						<v-form v-model="valid" ref="form">
							<v-text-field :rules="rulesNome" required prepend-icon="mdi-account" label="Nome Completo" v-model="nome"></v-text-field>
							<v-text-field :rules="rulesEmail" required prepend-icon="mdi-email" label="Endereço de e-mail para reposta" v-model="email"></v-text-field>
							<v-text-field :rules="rulesAssunto" required :counter="30" prepend-icon="mdi-comment-processing-outline" label="Assunto" v-model="titulo"></v-text-field>
							<v-text-field :rules="rulesMensagem" required prepend-icon="mdi-message-reply" multi-line label="Mensagem" v-model="descricao"></v-text-field>
						</v-form>
						<v-alert color="error" icon="warning" :value="error">
							{{error}}
						</v-alert>
					</v-card-text>
					<v-card-actions>
						<v-btn color="primary" @click="enviar"><v-icon>mdi-send</v-icon>&nbsp;Enviar mensagem</v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>
		<v-snackbar v-model="success">
			Mensagem enviada com sucesso! Aguarde a resposta no seu e-mail.
		</v-snackbar>
		<progresso :visivel="progresso"></progresso>
	</v-container>
</template>

<script>
import server from '../server.js'
import regex from '../regex.js'
export default {
	data: () => ({
		valid: false,
		error: false,
		nome: '',
		email: '',
		titulo: '',
		descricao: '',
		success: false,
		progresso: false,
		rulesNome: [
			v => !!v || 'Campo obrigatório!'
		],
		rulesEmail: [
			v => regex.genericEmail.test(v) || 'Valor inválido!'
		],
		rulesAssunto: [
			v => !!v || 'Campo obrigatório!',
			v => (v && v.length <= 30) || 'Limite de 30 caracteres!'
		],
		rulesMensagem: [
			v => !!v || 'Campo obrigatório!'
		]
	}),
	methods: {
		enviar(){
			if(this.$refs.form.validate()){
				this.progresso = true
				this.$axios.post(`${server}/mensagens`, {
					nome: this.nome,
					email: this.email,
					titulo: this.titulo,
					descricao: this.descricao
				}).then(response => {
					this.error = false
					this.success = true
					this.progresso = false
					this.$refs.form.reset()
				}).catch(() => {
					this.error = "Erro interno do servidor!"
					this.progresso = false
				})
			}
		}
	}
}
</script>
