<template>
	<v-layout>
		<v-container grid-list-lg fluid>
			<v-layout row wrap>
				<v-flex xs12>
					<titulo>Notícias e Eventos</titulo>
				</v-flex>
				<v-flex v-for="(noticia, i) in noticias" :key="i" xs12 sm6 md4 lg3>
					<noticia :content="noticia"></noticia>
				</v-flex>
			</v-layout>
		</v-container>
		<progresso :visivel="progresso"></progresso>
	</v-layout>
</template>

<script>
import server from '../server.js'
export default {
	data: () => ({
		noticias: [],
		progresso: false
	}),
	mounted() {
		this.progresso = true
		this.$axios.get(`${server}/noticias`).then(res => {
			this.noticias = res.data
			this.progresso = false
		}).catch(() => {
			this.progresso = false
		})
	}
}
</script>
