<template>
	<v-container fluid>
		<v-layout row wrap>
			<v-flex xs12 md6 class="text-xs-center">
				<h5>Crie sua conta agora. É fácil!</h5>
				<p>
					Preencha o forumlário a seguir.<br>
					E clique em registrar
				</p>
				<img src="/public/img/pencil.png" height="300">
			</v-flex>
			<v-flex xs12 md6>
				<v-card>
					<v-alert color="success" icon="check_circle" value="true" v-if="sucesso">
						Sua conta foi registrada com sucesso!<br />
						Te enviamos um email para confirmar sua conta.
					</v-alert>
					<div v-else>
						<v-card-text>
							<v-form v-model="valid" ref="form">
								<v-text-field label="Nome Completo" :rules="nomeRules" prepend-icon="account_circle" v-model="nome" required></v-text-field>
								<v-text-field label="Email" type="email" :rules="emailRules" name="email" prepend-icon="email" v-model="email" required></v-text-field>
								<v-text-field label="Senha" :rules="passwordRules" :type="hidden ? 'password' : 'text'" prepend-icon="mdi-textbox-password" :append-icon="hidden ? 'visibility' : 'visibility_off'" :append-icon-cb="() => (hidden = !hidden)" v-model="senha" required></v-text-field>
								<v-text-field label="Currículo Lattes" :rules="lattesRules" prepend-icon="assignment" v-model="lattes"></v-text-field>
								<v-menu lazy v-model="menu" transition="scale-transition" offset-y full-width :nudge-right="40" max-width="290px" min-width="290px" :close-on-content-click="false">
									<v-text-field slot="activator" :rules="dataRules" label="Data de nascimento" v-model="showDate" prepend-icon="event" readonly required></v-text-field>
									<v-date-picker v-model="date" no-title scrollable actions locale="pt-BR">
										<template slot-scope="{ save, cancel }">
											<v-card-actions>
												<v-spacer></v-spacer>
												<v-btn color="error" @click="cancel">Cancelar</v-btn>
												<v-btn color="primary" @click="save">OK</v-btn>
											</v-card-actions>
										</template>
									</v-date-picker>
								</v-menu>
							</v-form>
							<v-alert color="error" icon="warning" :value="error">
								{{error}}
							</v-alert>
						</v-card-text>
						<v-card-actions>
							<v-btn color="primary" @click="registrar"><v-icon>mdi-account-plus</v-icon>&nbsp;Registrar</v-btn>
						</v-card-actions>
					</div>
				</v-card>
			</v-flex>
		</v-layout>
		<progresso :visivel="progresso"></progresso>
	</v-container>
</template>
<script>
import server from '../server.js'
import regex from '../regex.js'
export default {
	data: () => ({
		error: false,
		progresso: false,
		hidden: true,
		sucesso: false,
		date: null,
		menu: false,
		nome: '',
		email: '',
		senha: '',
		lattes: '',
		valid: false,
		nomeRules: [
			v => !!v || 'Campo obrigatório!'
		],
		emailRules: [
			v => regex.genericEmail.test(v) || 'Valor inválido!'
		],
		passwordRules: [
			v => regex.senha.test(v) || 'O campo deve conter pelo menos 6 caracteres!'
		],
		lattesRules: [
			v => !v || regex.link.test(v) || 'Valor inválido!'
		],
		dataRules: [
			v => regex.data.test(v) || 'Campo obrigatório!'
		]
	}),
	methods: {
		registrar(){
			if(this.$refs.form.validate()){
				this.progresso = true,
				this.$axios.post(`${server}/users`, {
					nome: this.nome,
					email: this.email,
					senha: this.senha,
					lattes: this.lattes,
					nascimento: this.date
				}).then(() => {
					this.sucesso = true
					this.progresso = false
					this.$refs.form.reset()
					this.error = false
				}).catch(err => {
					if(err.response.status == 409){
						this.error = 'Já existe um usuário com este mesmo e-mail!'
					}
					else {
						this.error = 'Erro interno do servidor'
					}
					this.progresso = false
				})
			}
		}
	},
	computed: {
		showDate(){
			if(this.date){
				let [y,m,d] = this.date.split('-')
				return `${d}/${m}/${y}`
			}
			return null
		}
	}
}
</script>
