<template>
	<v-container grid-list-lg fluid>
		<v-layout row wrap>
			<v-flex xs12>
				<titulo>Sobre o curso</titulo>
			</v-flex>
			<v-flex sx12>
				<h6>Coordenadores</h6>
				<p>
					Roberto Duarte Fontes<br>
					<a href="mailto://roberto.fontes@ifb.edu.br" target="_blank">roberto.fontes@ifb.edu.br</a><br> Coordenador da Licenciatura em Computação<br>
					<a href="http://lc.fontes.pro.br" target="_blank">http://lc.fontes.pro.br</a>
				</p>
				<p>
					Leandro Vaguetti<br>
					<a href="mailto://leandro.vaguetti@ifb.edu.br" target="_blank">leandro.vaguetti@ifb.edu.br</a><br> Coordenador do Bacharelado em Ciência da Computação<br>
					<a href="http://www.computacaoifb.net" target="_blank">http://www.computacaoifb.net</a>
				</p>
				<h6>Objetivos dos Cursos</h6>
				<p>
					Formar profissionais capazes de atuar nas áreas de Serviços, Industrial, Comercial e Acadêmica, podendo trabalhar no âmbito do ensino, da pesquisa, da prestação de serviços e do desenvolvimento científico e tecnológico em âmbito nacional e internacional.
				</p>
				<h6>Dados Sobre os Cursos</h6>
				<p>
					<ul>
						<li>
							<b>Local: </b>IFB Taguatinga</li>
						<li>
							<b>Duração:</b> 8 semestres</li>
						<li>
							<b>Número de Vagas:</b> 60</li>
						<li>
							<b>Turno:</b> diurno</li>
						<li>
							<b>Modalidade:</b> Superior</li>
						<li>
							<b>Funcionamento do curso:</b> Ingresso anual, com matrícula semestral.</li>
						<li>
							<b>Tempo de Integralização:</b> mínimo de 4 e máximo de 8 (anos)</li>
						<li>
							<a href="http://www.ifb.edu.br/attachments/4298_PROJETO%20PEDAG%C3%93GICO%20DE%20CURSO%20SUPERIOR%20EM%20COMPUTA%C3%87%C3%83O(1)%20(1).pdf" target="_blank">Projeto Pedagógico do Curso</a>
						</li>
					</ul>
				</p>
				<h6>Requisitos e Forma de Acesso</h6>
				<p>
					O aluno somente poderá ingressar no curso se, no ato da matrícula, apresentar o certificado de conclusão do ensino médio ou equivalente. O processo de seleção do curso de Superior de Computação será feito em sua totalidade de acordo com os resultados do Exame Nacional do Ensino Médio. O curso em ABI permite a escolha entre o Bacharelado em Ciência da Computação e a Licenciatura em Computação, após dois anos de curso.
				</p>
				<h6>Perfil Proficional do Egresso</h6>
				<p>
					O perfil do egresso do curso de Bacharelado em Ciência da Computação é o de um profissional capaz de atuar nas áreas de serviços, industrial, comercial e acadêmica, podendo trabalhar no âmbito do ensino, da pesquisa, da prestação de serviços e do desenvolvimento científico e tecnológico de sua comunidade.
				</p>
				<h6>Campo de Atuação</h6>
				<p>
					<b>Bacharelado em Ciência da Computação</b>
				</p>
				<p>
					<ul>
						<li>Projeto e construção de modelos computacionais para aplicações de naturezas diversas;</li>
						<li>Projeto, Suporte e Gerenciamento de redes de computadores;</li>
						<li>Desenvolvimento de aplicações para redes de computadores;</li>
						<li>Racionalização, seleção e administração de recursos de hardware;</li>
						<li>Desenvolvimento de interfaces e aplicativos para automação;</li>
						<li>Administração de Bancos de Dados;</li>
						<li>Gerência em Informática, desenvolvendo atividades de planejamento e execução de tarefas pertinentes à área;</li>
						<li>Desenvolvimento de sistemas aplicativos comerciais ou científicos;</li>
						<li>Pesquisa de novos modelos computacionais;</li>
						<li>Pesquisa em áreas afins à computação.</li>
					</ul>
				</p>
				<p>
					<b>Licenciatura em Computação</b>
				</p>
				<p>
					O campo de atuação do Licenciado em Computação é vasto e oferece uma gama extensa de possibilidades, dentre as quais destacamos as seguintes:
				</p>
				<p>
					<ul>
						<li>pesquisa em tecnologia na área da Informática;</li>
						<li>criação, utilização e avaliação de software educacional;</li>
						<li>elaboração e participação em projetos na área de Ensino a Distância (EAD);</li>
						<li>desenvolvimento de materiais instrucionais através do emprego da informática;</li>
						<li>assessoria e serviço de suporte técnico às instituições em processos administrativos que impliquem utilização do computador;</li>
						<li>professores de computação para a Educação Básica (magistério na Educação Básica na área de informática), Ensino Médio e Profissional;</li>
						<li>organização e administração de laboratórios de informática, mais especificamente:</li>
						<ul>
							<li>ção de laboratórios de Informática;</li>
							<li>ção das atividades e projetos pedagógicos e de aprendizagem desenvolvidos nos laboratórios de Informática, em sintonia com coordenadores e professores da escola ou órgão público;</li>
							<li>atuação em aulas de informática para os alunos;</li>
							<li>capacitação de professores e comunidade escolar, segundo critérios das escolas para trabalho com informática educativa.</li>
						</ul>
						<li>assessoria às instituições educativas que constroem Propostas Pedagógicas numa perspectiva intercomplementar dos conhecimentos;</li>
						<li>coordenação de Programas de Educação Alternativos;</li>
						<li>assessoria à Educação nos Movimentos e Organizações Sociais que desenvolvem práticas inclusivas.</li>
					</ul>
				</p>
				<h6>Infraestrutura</h6>
				<p>
					<ul>
						<li>dois laboratórios de Informática com 40 computadores cada</li>
						<li>quatro laboratórios de Informática de uso geral</li>
						<li>um laboratório de computação científica</li>
						<li>um laboratório de Telecomunicações</li>
						<li>um laboratório de Hardware</li>
						<li>salas de aula em pool para uso por todos os cursos do Campus</li>
					</ul>
				</p>
				<h6>Mapa do Campus</h6>
				<p>
					<v-expansion-panel>
						<v-expansion-panel-content v-for="(mapa,index) in mapas" :key="index">
							<div slot="header">{{mapa.titulo}}</div>
							<v-card class="pa-2 white">
								<img :src="mapa.imagem" class="mapa-img">
							</v-card>
						</v-expansion-panel-content>
					</v-expansion-panel>
				</p>
				<p><a href="http://www.ifb.edu.br/attachments/4298_PROJETO%20PEDAG%C3%93GICO%20DE%20CURSO%20SUPERIOR%20EM%20COMPUTA%C3%87%C3%83O(1)%20(1).pdf" target="_blank">Acesse o Progeto Pedagógico do Curso</a></p>
				<h6>Localização</h6>
				<p>Clique nos marcadores para obter mais informações sobre os campi.</p>
				<p>
					<iframe class="maps" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col9+from+1gj2Zc0iAw6MYRE2C9QIqsnZ_ICb5xnACnPymjJk7&amp;viz=MAP&amp;h=false&amp;lat=-15.620415410353136&amp;lng=-47.868118522100296&amp;t=1&amp;z=10&amp;l=col9&amp;y=2&amp;tmplt=2&amp;hml=ONE_COL_LAT_LNG"></iframe>
				</p>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<style scoped>
.mapa-img{
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.maps {
	height:500px;
	width:100%;
}
@media screen and (min-width: 992px) {
	.mapa-img{
		max-height: 500px;
	}
}
@media screen and (max-width: 992px) {
	.mapa-img{
		width: 100%;
	}
}
</style>

<script>
export default {
	data(){
		return {
			mapas: [
				{
					titulo:'Campus',
					imagem:'public/img/mapas/campus.svg'
				},
				{
					titulo:'Salas de aula - Terreo',
					imagem:'public/img/mapas/terreo.svg'
				},
				{
					titulo:'Salas de aula - 1º andar',
					imagem:'public/img/mapas/andar-1.svg'
				}
			]
		}
	}
}
</script>
