<template>
	<v-card>
		<v-card-media :src="server+'/'+$props.content.imagem" height="200px"></v-card-media>
		<v-card-title primary-title>
			<div class="headline">{{$props.content.titulo}}</div>
		</v-card-title>
		<v-card-text>
			<p class="data">Postado em {{$props.content.data | date}}</p>
			{{$props.content.resumo}}
		</v-card-text>
		<v-card-actions>
			<v-btn color="primary" @click="gotoURL($props.content.link)"><v-icon>mdi-details</v-icon>&nbsp;Detalhes</v-btn>
		</v-card-actions>
	</v-card>
</template>

<style>
	.data {
		color: #aaa;
	}
</style>

<script>
import server from '../server.js'
export default {
	data: () => ({
		server
	}),
	props: ['content'],
	methods: {
		gotoURL(url){
			window.open(url, '_blank')
		}
	},
	filters: {
		date(value){
			let d = new Date(value)
			return `${d.getDate()}/${d.getMonth() + 1}/${d.getFullYear()}`
		}
	}
}
</script>
