<template>
	<v-dialog v-model="$props.visivel" persistent>
		<v-card>
			<v-card-text>
				<v-progress-linear indeterminate color="white"></v-progress-linear>
			</v-card-text>
		</v-card>
	</v-dialog>
</template>

<script>
	export default {
		props: ['visivel']
	}
</script>
