<template>
	<v-app :dark="dark">
		<v-navigation-drawer v-model="menu" persistent enable-resize-watcher app>
			<v-list>
				<v-list-tile v-for="(item, i) in menuItems" :key="i" ripple @click="gotoURL(item.link)">
					<v-list-tile-avatar>
						<v-icon>{{item.icon}}</v-icon>
					</v-list-tile-avatar>
					<v-list-tile-content>
						<v-list-tile-title>{{item.title}}</v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
				<v-list-tile ripple @click="gotoURL('/privado')" v-if="$store.state.login">
					<v-list-tile-avatar>
						<v-icon>settings</v-icon>
					</v-list-tile-avatar>
					<v-list-tile-content>
						<v-list-tile-title>Painel de Controle</v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
			</v-list>
		</v-navigation-drawer>
		<v-toolbar class="primary" dark fixed app>
			<v-toolbar-side-icon @click.stop="menu = !menu"></v-toolbar-side-icon>
			<v-toolbar-title>Portal da Computação</v-toolbar-title>
			<v-spacer></v-spacer>
			<v-toolbar-items v-if="!$store.state.login">
				<v-menu :nudge-width="100">
					<v-btn flat slot="activator"><v-icon>mdi-account-circle</v-icon>&nbsp;Conta</v-btn>
					<v-list>
						<v-list-tile @click="loginDialog = true">
							<v-list-tile-title><v-icon>mdi-login-variant</v-icon> Entrar</v-list-tile-title>
						</v-list-tile>
						<v-list-tile @click="$router.push('/registrar')">
							<v-list-tile-title><v-icon>mdi-account-plus</v-icon> Registrar</v-list-tile-title>
						</v-list-tile>
					</v-list>
				</v-menu>
			</v-toolbar-items>
			<v-btn icon @click="dark = !dark">
				<v-icon v-if="dark">invert_colors_off</v-icon>
				<v-icon v-else>invert_colors</v-icon>
			</v-btn>
		</v-toolbar>
		<main>
			<v-content>
				<router-view></router-view>
			</v-content>
		</main>
		<v-footer app>
			<v-spacer></v-spacer>
			Portal da Computação IFB © {{new Date().getFullYear()}}
			<v-spacer></v-spacer>
		</v-footer>
		<v-dialog v-model="loginDialog" persistent>
			<v-card>
				<v-card-title primary-title>
					<div>
						<h3 class="headline mb-0">Entrar</h3>
					</div>
				</v-card-title>
				<v-card-text>
					<v-form ref="loginForm">
						<v-text-field required label="Email" prepend-icon="email" v-model="email"></v-text-field>
						<v-text-field required label="Senha" type="password" prepend-icon="mdi-textbox-password" :type="hidden ? 'password' : 'text'" :append-icon="hidden ? 'visibility' : 'visibility_off'" :append-icon-cb="() => (hidden = !hidden)" v-model="senha"></v-text-field>
					</v-form>
					<v-alert color="error" icon="warning" :value="error">
						{{error}}
					</v-alert>
				</v-card-text>
				<v-card-actions>
					<v-btn color="primary" @click="entrar"><v-icon>mdi-login-variant</v-icon> Entrar</v-btn>
					<v-btn color="error" @click="loginDialog = false; $refs.loginForm.reset()"><v-icon>mdi-cancel</v-icon> Cancelar</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<progresso :visivel="progresso"></progresso>
	</v-app>
</template>

<style lang="stylus" src="./theme.styl"></style>

<style>
a {
	text-decoration: none;
}
</style>

<script>
import server from './server.js'
export default {
	data: () => ({
		error: false,
		progresso: false,
		hidden: true,
		email: '',
		senha: '',
		dark: true,
		menu: true,
		loginDialog: false,
		menuItems: [
			{icon: 'home', title: 'Início', link: '/'},
			{icon: 'new_releases', title: 'Notícias e eventos', link: '/noticias'},
			{icon: 'info', title: 'Sobre o curso', link: '/sobre'},
			{icon: 'date_range', title: 'Calendário acadêmico', link: '$/calendario'},
			{icon: 'mdi-book-open-page-variant', title: 'Biblioteca', link: '/biblioteca'},
			{icon: 'mdi-currency-usd', title: 'Assistência Estudantil', link: '/assistencia'},
			{icon: 'work', title: 'Estágios', link: '/estagios'},
			{icon: 'insert_drive_file', title: 'Documentos', link: '/documentos'},
			{icon: 'class', title: 'Disciplinas', link: '/disciplinas'},
			{icon: 'mail', title: 'Escrever mensagem', link: '/mensagem'},
			{icon: 'phone', title: 'Contatos', link: '/contatos'},
			{icon: 'mdi-school', title: 'AVAs', link: '/avas'}
		]
	}),
	mounted(){
		if(localStorage.login){
			this.$store.commit('login', JSON.parse(localStorage.login))
		}
	},
	methods: {
		gotoURL(url){
			if(/^\$\/.+$/.test(url)){
				window.open(url.replace(/^\$/, server), '_blank')
			}
			else {
				this.$router.push(url)
			}
		},
		entrar(){
			this.progresso = true
			this.$axios.post(`${server}/users/login`, {
				email: this.email,
				senha: this.senha
			}).then(response => {
				this.$store.commit('login', response.data)
				localStorage.login = JSON.stringify(response.data)
				this.loginDialog = false
				this.$router.push('/privado')
				this.progresso = false
				this.$refs.loginForm.reset()
				this.error = false
			}).catch(err => {
				if(err.response.status == 401){
					this.error = 'Email ou senha inválidos!'
				}
				else {
					this.error = 'Erro interno do servidor'
				}
				this.progresso = false
			})
		}
	}
}
</script>
